.location {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.Review {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
}

.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
}

.card img {
    width: 100%;
    height: auto;
}

.card-contant {
    padding: 16px;
}

.user-contant {
    padding: 16px;
}

.user-contant h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-contant p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-contant h3 {
    font-size: 28px;
    margin-bottom: 8px;
}

.card-contant p {
    color: #666;
    font-size: 15px;
    line-height: 1.3;
}

.card-contant .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: #333;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}

body {
    margin: 0%;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #424ef7;
    color: white;
}

.logo {
    background-image: url('/Photo/logo.png');
    height: 100px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
}

.profile {
    background-image: url('/Photo/profile.png');
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
}

.nav-item {
    text-decoration: none;
    color: rgb(255, 255, 255);
    border: 2px solid transparent;
    border-radius: 10%;
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}

.nav-item:hover {
    color: rgb(24, 221, 50);
    border-color: rgb(24, 221, 50);
}

.footer {
    background-color: #0a030f;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    /* position: fixed; */
    /* bottom: 0; */
    width: 100%;
    box-sizing: border-box;
}

.footer-logo {
    flex: 0 0 auto;
    margin-right: 20px;
}

.footer-logo img {
    width: 100px;
    height: auto;
}

.footer-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-link {
    color: white;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer-link:hover {
    text-decoration: underline;
    color: rgb(24, 221, 50);
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.input-field {
    flex: 1;
}

.input-field label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field input[type="text"],
.input-field input[type="date"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #007bff;
    color: #fff;
    border: black;
    border-radius: 100px;
    padding: 10px 20px;
    cursor: pointer;
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #04AA6D;
    /* Green */
    color: white;
}